.main {
  margin: 0%;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fe2712;
  }
  
.navbar li {
    float: left;
  }
  
.navlink:hover {
    background-color: #be0032;
  }
.navlink{
  display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.latestPost{
  text-align: center;
  padding: 1%;
}
.morePosts{
  background-color: rgb(255, 106, 106);
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.blog{
  text-decoration: none;
  color: black;
}
.blogborder{
  margin: 20px;
  width: 95%;
  height: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  background-color: rgb(200, 201, 203);
}
.blogborder:hover{
  background-color:rgb(255, 106, 106);
}
.dots{
  list-style-type: disc;
}
.dotgone{
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.playerscolumn{
  list-style-type: none;
  float: left;
  width: 25%;
  padding: 10px;
}
.playersrow::after {
  content: "";
  clear: both;
  display: table;
}
.gamescolumn{
  list-style-type: none;
  float: left;
  width: 50%;

}
.gamesrow::after {
  content: "";
  clear: both;
  display: table;
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fe2712;
  }
.footer li {
  color: white;
  text-align: center;
}

